@model ChairtyApplication.Models.ViewModels.Admin.DashBoardVm

@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_Layout Admin.cshtml";
}

@* ReSharper disable UnknownCssClass *@
@* ReSharper disable Html.IdDuplication *@

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">

            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">


    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Requests</div>
                        <div class="stat-digit">@Model.RequestsNumber</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Donations</div>
                        <div class="stat-digit">@Model.DonationsNumber</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-light-bulb text-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Messages</div>
                        <div class="stat-digit">@Model.MessagesNumber</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-one">
                    <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                    <div class="stat-content dib">
                        <div class="stat-text">Projects</div>
                        <div class="stat-digit">@Model.ProjectsDone</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- .content -->
@* ReSharper restore UnknownCssClass *@
@* ReSharper restore Html.IdDuplication *@